.img-container {
	display: inline-block;
	width: 960px;
	background-color: grey;
	text-align: center;
}
.img{
	display: inline-block;
	text-align: center;
}

.img img {
	width: 300px;
	border: 6px solid silver;
}

aside {
	float: left;
	width: 250px;	
	border: 6px solid silver;
}

header {
	height: 50%;
}